@import './mixins';

.rocket-container {
  display: flex;
  margin-bottom: 1rem;

  &__img {
    width: 20%;
    height: 18%;
  }
}

.rocket-info {
  padding: 0 1rem;

  @include flex-pos(column, flex-start);

  align-items: flex-start;

  &__title {
    @include titleStyle($roboto, 700);

    font-size: 1.8rem;
  }

  &__description {
    @include titleStyle($roboto, 400);

    color: $typoColor;
    font-size: 1.1rem;
    line-height: 1.5rem;
    height: 4rem;

    &__reserved {
      background-color: $secondaryColor;
      color: #fff;
      border-radius: 3px;
      padding: 0.2rem;
      margin-right: 0.5rem;
      font-size: 0.8rem;
    }
  }

  &__cancelbutton {
    color: $web-gray;
    background-color: #fff;
    border: 1px solid $typoColor;
    padding: 0.5rem;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
  }

  &__reservebutton {
    color: #fff;
    background-color: $primaryColor;
    border: 1px solid $primaryColor;
    padding: 0.5rem;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $secondaryColor;
      border: 1px solid $secondaryColor;
    }
  }
}

.rocket-info > * {
  margin-bottom: 1rem;
}
